
{% include 'navbar.html'%}
{% block content %}
{% endblock %}
    <style>
    body {
        background-color:rgb(221, 206, 205);
    }
        form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .form-check-label {
            margin-left: 10px;
        }

        input[type="submit"] {
            margin-left: 20px;
        }
        
        @media screen and (max-width: 767px) {
            form {
                flex-direction: column;
            }
            
            .form-check {
                margin-bottom: 10px;
            }
            
            input[type="submit"] {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    </style>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="clock_status" id="inlineRadio1" value="clock-in" checked>
            
            <label class="form-check-label" for="inlineRadio1">Clock-in</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="clock_status" id="inlineRadio2" value="clock-out">
            <label class="form-check-label" for="inlineRadio2">Clock-out</label>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
        <input id="clock-time" type="hidden" name="clock_time">
    </form>
    <h1><div id="timo">A-OK-TIRE&TOWING</div></h1>

    <script>
        function updateTimer() {
            var now = new Date();
            var timerDiv = document.getElementById('timo');
            timerDiv.innerHTML = now.toLocaleTimeString();
        }

        setInterval(updateTimer, 1000);
    </script>

    <style>
        #timo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  height: 90vh;
  color:rgb(16, 37, 66);

}
@media only screen and (max-width: 768px) {
  #timo {
    font-size: 3rem;
    height: 50vh;
    color:rgb(16, 37, 66);
  }
}
    </style>

</body>
<div class="end">
</div>
</html>
