
{% include 'navbar.html'%}
    {% block content %}
    {% endblock %}
    <body>
    <h1>------------------------------------------------------------------------------------------------------------------------------------</h1>
{% if request.user.is_staff %}

        <h1>Management</h1>
<form method="POST" action="/logout/">
    {% csrf_token %}
    <input type='submit' value='logout'/>
</form>

<p>Hello, <a href='/{{user.username}}'>{{user.username}}</a>.
    {% if maps_url %}
    <a href="{{ maps_url }}"> View last location on Google Maps</a>
{% endif %}
{% if coordinates %}
    <h2>List of locations were customers asked for Tow service:</h2>
    <ul>
    {% for coord in coordinates %}
        <li><a href="https://www.google.com/maps/search/?api=1&query={{ coord.latitude }},{{ coord.longitude }}" target="_blank">GPS </a> FOR: (ID): <a href="https://www.google.com/maps/search/?api=1&query={{ coord.latitude }},{{ coord.longitude }}" target="_blank">{{ coord.identifier }}</a> (Order #:) {{ coord.id }} (Date:){{ coord.created_at }} (phone_number:){{ coord.phone_number}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No coordinates found.</p>
{% endif %}
</p>
    <div class="clock">
    <h2>clock-ins</h2>
    -----
    {% for post in posts %}

<ul>
    <li>name: {{ post.author }}</li>
    <li>status: {{ post.clock_status }}</li>
    <li>Time: {{ post.clock_time }}</li>
</ul> 
{% endfor %}
</div>

<div class="clockout">
<h2>clock-outs</h2>
---------
{% for i in clock_out %}
<ul>
    <li>name:{{ i.author }}</li>
    <li>clocking-status:{{ i.clock_status }}</li>
    <li>Time:{{ i.clock_time }}</li>
</ul> 
{% endfor %}
</div>
{% else %}
<form method="POST" action="/login/">
    {% csrf_token %}
    <input type='submit' value='login'/>
</form>
<p>Hello, not logged in</p>
{% endif %}

<style>
    body {
              font-family: Arial, sans-serif;
              background-color: #f2f2f2;
              margin: 0;
              padding: 0;
          }
</style>