{% include 'navbar.html'%}
{% block content %}
{% endblock %}
    <body>
        <h1>------------------------------------------------------------------------------------------------------------------------------------</h1>
        <h1>page</h1>
{% if request.user.is_staff %}
<form method="POST" action="/logout/">
    {% csrf_token %}
    <input type='submit' value='logout'/>
</form>
<p>Hello, <a href='/{{user.username}}'>{{user.username}}</a>

    <p>PAGE</p>
        </body>
{% else %}
<h1>-----------------------------------------------------------</h1>

<form method="POST" action="/login/">
    {% csrf_token %}
    <input type='submit' value='login'/>
</form>
<p>Hello, not logged in</p>
</body>
{% endif %}
