<!DOCTYPE html>
<html>
    <body>
        {% include 'navbar.html'%}
        {% block content %}
        {% endblock %}
      
        <h1>------------------------------------------------------------------------------------------------------------------------------------</h1>
        {% if user.is_authenticated %}
        <form method="POST" action="/logout/">
            {% csrf_token %}
            <input type='submit' value='logout'/>
        </form>
        {% else %}
      
        <form method="POST" action="/login/">
            {% csrf_token %}
            <input type='submit' value='login'/>
        </form>
    </body>
    </html>
        {% endif %}
<p>Hello,<a href='/{{user.username}} '>{{user.username}}</a>
   you have worked ___ hr's this week.


<div class='clockouts'>

    <div class="clockin">
        <h1>Details</h1>
        <p>clock in
        <ul>
            {% for i in clock_in %}

            <li>{{i.clock_time}}</li>
        </ul>
    {% endfor %}
</div>

    <div class="clockout">
        <p>clock out</p>
        <ul> 
            {% for i in clock_out %}

            <li>{{i.clock_time}}</li>
        </ul>
    {% endfor %}
</div>


</div>
</body>
</html>
