
{% include 'navbar.html'%}
{% block content %}
{% endblock %}
<body>
<h1>-------Receipts-------</h1>
 <form method="post">
    {% csrf_token %}        

        {% for form in forms %}
        -----------------------------------------------------------
        <div class="receipt-card">
            <h2 class="receipt-id">ID:{{ form.id }}</h2>     
            <p class="receipt-date">Created at: {{ form.created_at }}</p>   
            <p class="receipt-info"><strong>Customer Initial:</strong> {{ form.customer_initial }}</p>
            <p class="receipt-info"><strong>Damage Type:</strong> {{ form.get_damage_type_display }}</p>
            <p class="receipt-info"><strong>Description:</strong> {{ form.description }}</p>
            <p class="receipt-info"><strong>Time of Call:</strong> {{ form.time_of_call }}</p>
            <p class="receipt-info"><strong>Date In:</strong> {{ form.date_in }}</p>
            <p class="receipt-info"><strong>Date Out:</strong> {{ form.date_out }}</p>
            <p class="receipt-info"><strong>Name:</strong> {{ form.name }}</p>
            <p class="receipt-info"><strong>Customer Address:</strong> {{ form.customer_address }}</p>
            <p class="receipt-info"><strong>Pickup Address:</strong> {{ form.pickup_address }}</p>
            <p class="receipt-info"><strong>Dropoff Address:</strong> {{ form.dropoff_address }}</p>
            <p class="receipt-info"><strong>Phone:</strong> {{ form.phone }}</p>
            <p class="receipt-info"><strong>DL:</strong> {{ form.dl }}</p>
            <p class="receipt-info"><strong>Jumpstart:</strong> {{ form.jumpstart }}</p>
            <p class="receipt-info"><strong>Tow:</strong> {{ form.tow }}</p>
            <p class="receipt-info"><strong>Tire Change:</strong> {{ form.tirechange }}</p>
            <p class="receipt-info"><strong>Lockout:</strong> {{ form.lockout }}</p>
            <p class="receipt-info"><strong>Year:</strong> {{ form.year }}</p>
            <p class="receipt-info"><strong>Make:</strong> {{ form.make }}</p>
            <p class="receipt-info"><strong>Color:</strong> {{ form.color }}</p>
            <p class="receipt-info"><strong>Model:</strong> {{ form.model }}</p>
            <p class="receipt-info"><strong>License No:</strong> {{ form.license_no }}</p>
            <p class="receipt-info"><strong>VIN Number:</strong> {{form.vin_number }}</p>
            <p class="receipt-info"><strong>Policy Number:</strong> {{ form.policy_number }}</p>
            <p class="receipt-info"><strong>Hook Up:</strong> {{ form.hook_up }}</p>
            <p class="receipt-info"><strong>Winch:</strong> {{ form.winch }}</p>
            <p class="receipt-info"><strong>Flares:</strong> {{ form.flares }}</p>
            <p class="receipt-info"><strong>Dollies:</strong> {{ form.dollies }}</p>
            <p class="receipt-info"><strong>Scotch Blocks:</strong> {{ form.scotch_blocks }}</p>
            <p class="receipt-info"><strong>Ramps:</strong> {{ form.ramps }}</p>
            <p class="receipt-info"><strong>Snatch Blocks:</strong> {{ form.snatch_blocks }}</p>
            <p class="receipt-info"><strong>Signature:</strong> {{ form.signature }}</p>
        <p class="receipt-info"><strong>Mileage Start:</strong> {{ form.mileage_start }}</p>
        <p class="receipt-info"><strong>Mileage Finish:</strong> {{ form.mileage_finish }}</p>
        <p class="receipt-info"><strong>Mileage Total: </strong>{{ form.mileage_total }}</p>
        <p class="receipt-info"><strong>Labor Time Start:</strong> {{ form.labor_time_start }}</p>
        <p class="receipt-info"><strong>Labor Time Finish: </strong>{{ form.labor_time_finish }}</p>
        <p class="receipt-info"><strong>Labor Time Total: </strong>{{ form.labor_time_total }}</p>
        <p class="receipt-info"><strong>Extra Person Start: </strong>{{ form.extra_person_start }}</p>
        <p class="receipt-info"><strong>Person Finish: </strong>{{ form.extra_person_finish}</p>
        </div>
      </form>
      {% endfor %}


<style>
  form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.receipt-card {
  width: 300px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
